# КЕШ PYTHON
__pycache__/
*.py[cod]
*$py.class

# ВІРТУАЛЬНЕ СЕРЕДОВИЩЕ (залежно від того, як ви його назвали)
venv/
.venv/
env/
ENV/

# ЛОГИ ПРОГРАМИ
# Приховує наш лог-файл команди exchange та будь-які інші лог-файли
exchange_commands.log
*.log

# НАЛАШТУВАННЯ СЕРЕДОВИЩА РОЗРОБКИ (IDE)
.vscode/
.idea/

# ОПЕРАЦІЙНА СИСТЕМА
.DS_Store
Thumbs.db
